<!doctype html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{head-fragment.html :: head('Job Applications')}"></form>
<body style="overflow: visible">

<form th:replace="~{preloader-fragment.html :: preloader}"></form>

<form th:replace="~{header-fragment.html :: header}"></form>

<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
             data-background="/assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Job Applications</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- Job List Area Start -->
    <div class="job-listing-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <!-- Left content -->
                <div class="col-xl-3 col-lg-3 col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="small-section-tittle2 mb-45">
                                <div class="ion">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="20px" height="12px">
                                        <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                              d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"/>
                                    </svg>
                                </div>
                                <h4>Filter Applications</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Job Category Listing start -->
                    <form th:action="@{/employers/dashboard/job-applications}" method="get"
                          th:object="${jobApplicationFilterOptions}">
                        <form th:replace="~{mutual_fragments.html :: application-listing-filter-public-view}"></form>
                    </form>
                    <!-- Job Category Listing End -->
                </div>
                <!-- Right content -->
                <div class=" col-xl-9 col-lg-9 col-md-8">
                    <!-- Featured_job_start -->
                    <section class="featured-job-area">
                        <div class="container">
                            <!-- Count of Job list Start -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="count-job mb-35">
                                        <span th:text="${applicationsSize} + ' Applications found'">Applications found</span>
                                        <!-- Select job items start -->
                                        <div class="select-job-items">
                                            <span>Sort by</span>
                                            <label>
                                                <select name="select">
                                                    <option value="">None</option>
                                                    <option value="">job list</option>
                                                    <option value="">job list</option>
                                                    <option value="">job list</option>
                                                </select>
                                            </label>
                                        </div>
                                        <!--  Select job items End-->
                                    </div>
                                </div>
                            </div>
                            <!-- Count of Job list End -->
                            <!-- single-job-content -->
                            <form th:replace="~{mutual_fragments.html :: applications-lising}"></form>
                        </div>
                    </section>
                    <!-- Featured_job_end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Job List Area End -->
    <!--Pagination Start  -->
    <div class="pagination-area pb-115 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start" th:unless="${jobApplications.isEmpty()}">
                                <!-- Previous Button -->
                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/employers/dashboard/job-applications(page=${currentPage - 1}, size=7,
                                       minSalary=${filterOptions.minSalary},
                                       maxSalary=${filterOptions.maxSalary},
                                       location=${filterOptions.location},
                                       hybrid=${filterOptions.hybrid})}"
                                       aria-label="Previous">
                                        <span class="ti-angle-left"></span>
                                    </a>
                                </li>

                                <!-- Page Numbers -->
                                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${currentPage == i} ? 'active'">
                                    <a class="page-link"
                                       th:href="@{/employers/dashboard/job-applications(page=${i}, size=7,
                                       minSalary=${filterOptions.minSalary},
                                       maxSalary=${filterOptions.maxSalary},
                                       location=${filterOptions.location},
                                       hybrid=${filterOptions.hybrid})}"
                                       th:text="${i + 1}"></a>
                                </li>

                                <!-- Next Button -->
                                <li class="page-item"
                                    th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/employers/dashboard/job-applications(page=${currentPage + 1}, size=7,
                                       minSalary=${filterOptions.minSalary},
                                       maxSalary=${filterOptions.maxSalary},
                                       location=${filterOptions.location},
                                       hybrid=${filterOptions.hybrid})}"
                                       aria-label="Next">
                                        <span class="ti-angle-right"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pagination End  -->

</main>

<form th:replace="~{footer-fragment.html ::footer}"></form>

<!-- JS here -->

<form th:replace="~{scripts-fragment.html :: scripts}"></form>

</body>
</html>