<!doctype html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{head-fragment.html :: head('Job Application')}"></form>
<body style="overflow: visible">

<form th:replace="~{preloader-fragment.html :: preloader}"></form>

<form th:replace="~{header-fragment.html :: header}"></form>
<main>

  <!-- Hero Area Start-->
  <div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center"
         data-background="assets/img/hero/about.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2 th:text="${jobApplication.professional.firstName} + ' ' +
                            ${jobApplication.professional.lastName}">Professional Names</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->
  <!-- job post company Start -->
  <div class="job-post-company pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-between">
        <!-- Left Content -->
        <div class="col-xl-7 col-lg-8">
          <!-- job single -->
          <div class="single-job-items mb-50">
            <div class="job-items">
              <div class="company-img company-img-details">
                <a href="#"><img src="/img/icon/job-list1.png" alt=""></a>
              </div>
              <div class="job-tittle">

                <h4 th:text="${jobApplication.professional.firstName} + ' ' +
                            ${jobApplication.professional.lastName}">Professional Names</h4>

                <ul>
                  <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <!-- Case 1: Not 'Home' and not Hybrid -->
                    <a th:if="${jobApplication.location.name != 'Home' and !jobApplication.hybrid}"
                       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode}"></a>

                    <!-- Case 2: Not 'Home' and Hybrid -->
                    <a th:if="${jobApplication.location.name != 'Home' and jobApplication.hybrid}"
                       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode + ' (Hybrid)'}"></a>

                    <!-- Case 3: Location is 'Home' -->
                    <a th:if="${jobApplication.location.name == 'Home'}">Remote</a>
                  </li>
                  <li th:text="${#numbers.formatDecimal(jobApplication.minSalary, 0, 0)} + ' - '
                                    + ${#numbers.formatDecimal(jobApplication.maxSalary, 0, 0)}">
                    Salary range
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- job single End -->

          <div class="job-post-details">
            <div class="post-details1 mb-50">
              <!-- Small Section Tittle -->
              <div class="small-section-tittle">
                <h4>Application Description</h4>
              </div>
              <p th:text="${jobApplication.description}">Description</p>
            </div>
            <div class="post-details2  mb-50" th:unless="${jobApplication.qualifications.isEmpty()}">
              <!-- Small Section Tittle -->
              <div class="small-section-tittle">
                <h4>Knowledge, Skills, and Abilities</h4>
              </div>
              <ul th:each="skill : ${jobApplication.qualifications}">
                <li th:text="${skill.name}">Skill</li>
              </ul>
            </div>
            <div class="post-details2  mb-50">
            </div>
          </div>

        </div>
        <!-- Right Content -->
        <div class="col-xl-4 col-lg-4">
          <div class="post-details3  mb-50">
            <!-- Small Section Tittle -->
            <div class="small-section-tittle">
              <h4>Application Overview</h4>
            </div>
            <ul>
              <li>
                Location :
                <span th:if="${jobApplication.location.name != 'Home' and !jobApplication.hybrid}"
                      th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode}">
                                </span>
                <span th:if="${jobApplication.location.name != 'Home' and jobApplication.hybrid}"
                      th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode + ' (Hybrid)'}">
                                </span>
                <span th:if="${jobApplication.location.name == 'Home'}" th:text="'Remote'">
                                </span>
              </li>
              <li>Application nature : <span>Full time</span></li>
              <li>Salary Desired: <span
                      th:text="${#numbers.formatDecimal(jobApplication.minSalary, 0, 0)} + ' - '
                                    + ${#numbers.formatDecimal(jobApplication.maxSalary, 0, 0)}">Salary</span>
              </li>
            </ul>
            <div class="apply-btn2" th:if="${isApplicationSuitable}"
                 th:unless="${isAlreadyRequestedByAd || isAlreadyRequestedByApplication}">
              <form th:action="@{/employers/dashboard/job-ads/{jobAdId}/find-matches/job-applications/{jobApplicationId}/request-match(jobAdId=${jobAdId}, jobApplicationId=${jobApplicationId})}" method="post" style="display: inline;">
                <button type="submit" class="btn">Request Match</button>
              </form>
            </div>
            <div class="d-lg-block" th:if="${isApplicationSuitable && isAlreadyRequestedByApplication}">
              <a href="#" class="btn head-btn1" style="
                                                        padding-left: 46px;
                                                        padding-right: 46px;">Approve</a>
              <a href="#" th:href="" class="btn head-btn2" style="
                                                        padding-left: 25px;
                                                        padding-right: 25px;
                                                        padding-top: 26px;
                                                        padding-bottom: 26px;">Decline</a>
            </div>
            <div th:if="${isApplicationSuitable && isAlreadyRequestedByAd}">
              Waiting for action from other side
            </div>
          </div>
          <div class="post-details4  mb-50">
            <!-- Small Section Tittle -->
            <div class="small-section-tittle">
              <h4>Applicant Information</h4>
            </div>
            <span th:text="${jobApplication.professional.firstName} + ' ' +
                            ${jobApplication.professional.lastName}">Professional Names</span>
            <p th:text="${jobApplication.professional.summary}">Company Description</p>
            <ul>
              <li>Name: <span th:text="${jobApplication.professional.firstName} + ' ' +
                            ${jobApplication.professional.lastName}">Professional Names</span></li>
              <li>Email: <span th:text="${jobApplication.professional.email}">Professional email</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- job post company End -->

</main>

<form th:replace="~{footer-fragment.html ::footer}"></form>

<!-- JS here -->

<form th:replace="~{scripts-fragment.html :: scripts}"></form>

</body>
</html>