<div class="col-xl-3 col-lg-3 col-md-4" th:fragment="company-job-ad-filter-bar">
    <div class="row">
        <div class="col-12">
            <div class="small-section-tittle2 mb-45">
                <div class="ion">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="20px" height="12px">
                        <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                              d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"/>
                    </svg>
                </div>
                <h4>Filter Jobs</h4>
            </div>
        </div>
    </div>
    <!-- Job Category Listing start -->
    <form th:action="@{/employers/dashboard/job-ads}" method="get" th:object="${jobAdFilterOptions}">
        <div class="job-category-listing mb-50">
            <!-- single one -->
            <div class="single-listing">
                <div class="small-section-tittle2">
                    <h4>Job Employer</h4>
                </div>
                <!-- Select job items start -->
                <div class="select-job-items2">
                    <select name="creator" th:field="*{status}">
                        <option value="Active" selected>Active</option>
                        <option value="Archived">Archived</option>
                    </select>
                </div>
                <!--  Select job items End-->
                <!-- select-Categories start -->
                <div class="select-Categories pt-80 pb-30">
                    <div class="small-section-tittle2">
                        <h4>Job Type</h4>
                    </div>
                    <label class="container">Hybrid
                        <input type="checkbox" th:field="*{hybrid}">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <!-- select-Categories End -->
            </div>
            <!-- single two -->
            <div class="single-listing">
                <div class="small-section-tittle2">
                    <h4>Job Location</h4>
                </div>
                <!-- Select job items start -->
                <div class="select-job-items2">
                    <select name="location" th:field="*{location}">
                        <option value="" selected>Choose a Location</option>
                        <option th:each="location : ${locations}" th:value="${location.name}"
                                th:text="${location.name}"></option>
                    </select>
                </div>
                <!--  Select job items End-->
                <!-- select-Categories start -->
                <!-- select-Categories End -->
            </div>
            <!-- single three -->
            <div class="single-listing">
                <!-- Range Slider Start -->
                <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                    <div class="select-Categories pt-80 pb-35">
                        <div class="small-section-tittle2">
                            <h4>Filter Salary</h4>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <!-- <div id="slider-range"></div> -->
                                <input type="text" class="js-range-slider" value=""/>
                                <div class="d-flex align-items-center">
                                    <div class="price_text">
                                        <p>Salary :</p>
                                    </div>
                                    <div class="price_value d-flex justify-content-center">
                                        <input type="text" class="js-input-from" readonly
                                               th:field="*{minSalary}"/>
                                        <span>to</span>
                                        <input type="text" class="js-input-to" id="amount" readonly
                                               th:field="*{maxSalary}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Range Slider End -->
            </div>
            <div class="items-link">
                <input type="submit" value="Filter" style="margin-bottom: 0px;
                                padding-left: 60px;
                                padding-right: 60px;
                                padding-top: 9px;
                                padding-bottom: 9px;"/>
            </div>
        </div>
    </form>
    <!-- Job Category Listing End -->
</div>