<div class="job-category-listing mb-50" th:fragment="job-ads-filter-bar-private">
    <!-- single one -->
    <div class="single-listing">
        <div class="small-section-tittle2">
            <h4>Job Status</h4>
        </div>
        <!-- Select job items start -->
        <div class="select-job-items2">
            <select name="creator" th:field="*{status}">
                <option value="Active" selected>Active</option>
                <option value="Archived">Archived</option>
            </select>
        </div>
        <!--  Select job items End-->
        <!-- select-Categories start -->
        <div class="select-Categories pt-80 pb-30">
            <div class="small-section-tittle2">
                <h4>Job Type</h4>
            </div>
            <label class="container">Hybrid
                <input type="checkbox" th:field="*{hybrid}">
                <span class="checkmark"></span>
            </label>
        </div>
        <!-- select-Categories End -->
    </div>
    <!-- single two -->
    <form th:replace="~{professionals_view_fragments.html :: job-ads-filter-bar-location}"></form>
    <!-- single three -->
    <form th:replace="~{professionals_view_fragments.html :: job-ads-filter-bar-salary}"></form>
    <form th:replace="~{professionals_view_fragments.html :: job-ads-filter-bar-button}"></form>
</div>