<!doctype html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{head-fragment.html :: head('Details')}"></form>
<head>
  <style>
    /* General settings for nice-select dropdowns */
    .nice-select {
      position: relative;
      z-index: 1; /* Base stacking order */
      cursor: pointer;
    }

    /* Adjust the stacking order when a dropdown is hovered or focused */
    .nice-select:focus,
    .nice-select:hover {
      z-index: 100; /* Bring to front */
    }

    /* Ensure the dropdown list appears correctly */
    .nice-select .list {
      display: none;
      position: absolute;
      z-index: 10; /* Below the parent when shown */
    }

    /* Show dropdown when the parent is focused or hovered */
    .nice-select:hover .list,
    .nice-select:focus .list {
      display: block;
    }

  </style>
</head>
<body style="overflow: visible">

<form th:replace="~{preloader-fragment.html :: preloader}"></form>

<form th:replace="~{header-fragment.html :: header}"></form>
<script>
  function getCities(country) {

    if (country === "") {
      return;
    }

    const citySelect = document.getElementById('citiesSelect')
    const niceSelectList = document.getElementById('citiesList');
    const currentText = document.getElementById('currentText');
    const niceSelect = document.getElementById('citiesDiv')

    fetch('http://localhost:8080/api/locations/' + country + '/cities')
            .then(response => response.json())
            .then(cities => {

              console.log(cities);
              citySelect.innerHTML = "";

              niceSelectList.innerHTML = "";

              cities.forEach(city => {
                console.log(city);
                console.log(city.id);
                console.log(city.name);
                const option = document.createElement("option");
                option.value = city.id;
                option.textContent = city.name;
                citySelect.appendChild(option);

                const li = document.createElement('li');
                li.className = "option";
                li.setAttribute("data-value", city.id);
                li.textContent = city.name;
                niceSelectList.appendChild(li);
              })

              if (cities.length > 0) {
                document.getElementById('citiesDiv').style.display = 'block';
                niceSelect.classList.add('mb-2')
              } else {
                document.getElementById('citiesDiv').style.display = 'none';
                currentText.textContent = 'Location';
              }

            })
            .catch(error => console.error("Error fetching cities:", error))

  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const countrySelect = document.getElementById("countriesSelect");
    if (countrySelect) {
      const selectedCountry = countrySelect.value;
      if (selectedCountry) {
        getCities(selectedCountry); // Call your function with the current value
      }
    }
  });
</script>
<main>
  <form th:object="${employerDetails}" th:action="@{${requestURI}}" method="post">
    <section style="background-color: #eee;">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4" style="height: 400px !important;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                <img th:src="${employer.profilePictureUrl}" alt="avatar"
                     class="company-profile-picture img-fluid" style="width: 150px;">
                <h5 th:text="${employer.companyName}" class="my-3">Company Name</h5>
                <p th:text="${employer.location.name + ', ' + employer.location.isoCode}" class="text-muted mb-2">Location</p>
                <div class="d-flex justify-content-center mb-2">
                  <input value="Save" class="btn btn-primary" type="submit">
                </div>
              </div>
            </div>
            <div class="container mt-5" th:if="${jobAds != null and jobAds.size() != 0}">
              <!-- Section Tittle -->
              <div class="row justify-content-center">
                <div class="col-xl-15">
                  <p style="padding-left:30px; padding-top: 20px; margin-bottom: 0" class="white-bg text-heading">Job Ads</p>
                  <!-- single-job-content -->
                  <div class="white-bg single-job-items" th:each="jobAd : ${jobAds}">
                    <div class="job-items">
                      <div class="job-tittle">

                        <a href="#"
                           th:href="@{/professionals/dashboard/job-ads/{id}(id=${jobAd.id})}">
                          <h4 th:text="${jobAd.positionTitle}">Position Title</h4>
                        </a>
                        <ul>
                          <li th:unless="${jobAd.skills.isEmpty()}">
                                                <span th:each="skill, iterStat : ${jobAd.skills}">
                                                <span th:if="${iterStat.index < 3}"
                                                      th:text="${skill.name}"></span>
                                                    <span th:if="${iterStat.index < 2 && iterStat.index < (jobAd.skills.size() - 1)}">, </span>
                                                    </span>

                          </li>

                          <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <!-- Case 1: Not 'Home' and not Hybrid -->
                            <a th:if="${jobAd.location.name != 'Home' and !jobAd.hybrid}"
                               th:text="${jobAd.location.name + ', ' + jobAd.location.isoCode}"></a>

                            <!-- Case 2: Not 'Home' and Hybrid -->
                            <a th:if="${jobAd.location.name != 'Home' and jobAd.hybrid}"
                               th:text="${jobAd.location.name + ', ' + jobAd.location.isoCode + ' (Hybrid)'}"></a>

                            <!-- Case 3: Location is 'Home' -->
                            <a th:if="${jobAd.location.name == 'Home'}">Remote</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="f-right">
                      <a th:text="${#numbers.formatDecimal(jobAd.minSalary, 0, 0)} + ' - ' + ${#numbers.formatDecimal(jobAd.maxSalary, 0, 0)}"></a>
                      <span></span>
                    </div>
                  </div>
                  <!-- single-job-content -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                    <p class="mb-4 text-heading"> Company Description</p>
                    <textarea rows="12" th:field="*{description}" class="mb-1 w-100 is-valid" style="font-size: 1rem;">>Company Description</textarea>
                      <div th:errors="*{description}" class="alert alert-danger" role="alert">
                        Description error placeholder
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4 text-heading"> Statistics</p>
                    <hr>
                    <div style="height:30px;" class="row">
                      <div class="col-sm-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0"/>
                        </svg>
                      </div>
                      <div class="col-sm-6">
                        <p style="margin-bottom: 0">Ads Posted:</p>
                      </div>
                      <div class="col-sm-1">
                        <p th:text="${jobAds.size()}">Ad size</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                          <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
                          <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
                        </svg>
                      </div>
                      <div class="col-sm-6">
                        <p class="mb-0">Successful Matches</p>
                      </div>
                      <div class="col-sm-1">
                        <p th:text="${employer.successfulProfessionalsMatched.size()}" class="text-muted mb-0">Matches</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body">
                <p class="mb-4 text-heading"> Details</p>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors()}">
                  <ul>
                    <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                  </ul>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Company Name</p>
                  </div>
                  <div class="col-sm-9">
                      <input class="text-muted mb-0" type="text" th:field="*{companyName}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Username</p>
                  </div>
                  <div class="col-sm-9">
                    <input th:field="*{username}" th:value="${employer.username}" class="text-muted mb-0">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <input th:field="*{email}" class="text-muted mb-0">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Country</p>
                  </div>
                    <div class="col-sm-9">
                      <select th:field="*{locCountryIsoCode}" onchange="getCities(this.value)" id="countriesSelect" name="select" style="display: none;">
                        <option th:text="${currentCountry}" th:value="${employer.location.isoCode}" >Location</option>
                        <option th:each="country : ${countries}" th:value="${country.iso2}" th:text="${country.name}">City</option>
                      </select>
                      <div class="nice-select" tabindex="0">
                        <span th:text="${currentCountry}" class="current">Location</span>
                        <ul class="list" style="max-height: 200px; overflow-y: auto">
                          <li th:text="${currentCountry}" class="option selected focus" th:data-value="${employer.location.isoCode}">Location</li>
                          <li th:each="country : ${countries}" th:data-value="${country.iso2}" class="option" th:text="${country.name}">City</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">City</p>
                  </div>
                  <div id="citiesDiv" style="display: none">
                    <div id="citiesCol" class="col-sm-9">
                      <select th:field="*{locCityId}" id="citiesSelect" name="select"
                              style="display: none;">
                        <option value="">City</option>
                      </select>
                      <div id="nice-select-cities" class="nice-select" tabindex="0">
                        <span id="currentText" class="current">City</span>
                        <ul id="citiesList" class="list"
                            style="max-height: 200px; overflow-y: auto">
                          <li class="option selected focus" data-value="">City</li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </form>
</main>

<form th:replace="~{footer-fragment.html ::footer}"></form>

<!-- JS here -->

<form th:replace="~{scripts-fragment.html :: scripts}"></form>

</body>
</html>