<!doctype html>
<html class="no-js" lang="zxx">
    <head th:replace="~{head-fragment.html :: head(Home)}">
   </head>

   <body>
    <!-- Preloader Start -->
    <div th:replace="~{preloader-fragment.html :: preloader}">
    </div>
    <!-- Preloader Start -->
    <header th:replace="~{header-fragment.html :: header}"></header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Unlock Your Next Career Opportunity</h1>
                                    <p class="text-muted">Explore the best job positions that match your skills and aspirations.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        <div class="our-services section-pad-t30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED SKILLS</span>
                            <h2>Browse Top Categories </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" th:each="skill : ${skills}">
                        <a th:if="${session.userRole?.equals('PROFESSIONAL')}" th:href="@{/professionals/dashboard/skills/{id}(id=${skill.id})}">
                            <div class="single-services text-center mb-30">
                                <div class="services-ion" style="width: 250px;">
                                    <span class="flaticon-tour"></span>
                                </div>
                                <div class="services-cap">
                                    <h5 th:text="${skill.name}">Skill name</h5>
                                    <!-- Find a way to get number of ads -->
                                </div>
                            </div>
                        </a>
                        <a th:if="${session.userRole?.equals('EMPLOYER')}" th:href="@{/employers/dashboard/skills/{id}(id=${skill.id})}">
                            <div class="single-services text-center mb-30">
                                <div class="services-ion" style="width: 250px;">
                                    <span class="flaticon-tour"></span>
                                </div>
                                <div class="services-cap">
                                    <h5 th:text="${skill.name}">Skill name</h5>
                                    <!-- Find a way to get number of ads -->
                                </div>
                            </div>
                        </a>
                        <a th:unless="${isAuthenticated}" th:href="@{/professionals/dashboard/skills/{id}(id=${skill.id})}">
                            <div class="single-services text-center mb-30">
                                <div class="services-ion" style="width: 250px;">
                                    <span class="flaticon-tour"></span>
                                </div>
                                <div class="services-cap">
                                    <h5 th:text="${skill.name}">Skill name</h5>
                                    <!-- Find a way to get number of ads -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a th:href="@{/authentication/login}" href="job_listing.html" class="border-btn2">Browse All Skills</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Online CV Area Start -->
         <div class="online-cv cv-bg section-overly pt-90 pb-120"  data-background="assets/img/gallery/cv_bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cv-caption text-center">
                            <p class="pera1">START HUNTING</p>
                            <p class="pera2"> Make a Difference with Your Application!</p>
                            <a th:href="@{/authentication/professional/register}" href="#" class="border-btn2 border-btn4">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online CV Area End-->
        <!-- Featured_job_start -->
        <section class="featured-job-area feature-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Recent Ads</span>
                            <h2>Featured Ads</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30" th:each="featuredJob : ${featuredJobs}">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="#"><img class="profile-picture" th:src="${featuredJob.getEmployer().getProfilePictureUrl()}" src="/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle job-tittle2">
                                    <a href="#" th:href="@{/professionals/dashboard/job-ads/{id}(id=${featuredJob.id})}">
                                        <h4 th:text="${featuredJob.positionTitle}">Job Title</h4>
                                    </a>
                                    <ul>
                                        <li ><a class="text-muted" th:text="${featuredJob.employer.getCompanyName()}" th:href="@{/employers/{id}(id=${featuredJob.getEmployer().id})}">Company Name</a></li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <!-- Case 1: Not 'Home' and not Hybrid -->
                                            <a th:if="${featuredJob.location.name != 'Home' and !featuredJob.hybrid}"
                                               th:text="${featuredJob.location.name + ', ' + featuredJob.location.isoCode}"></a>

                                            <!-- Case 2: Not 'Home' and Hybrid -->
                                            <a th:if="${featuredJob.location.name != 'Home' and featuredJob.hybrid}"
                                               th:text="${featuredJob.location.name + ', ' + featuredJob.location.isoCode + ' (Hybrid)'}"></a>

                                            <!-- Case 3: Location is 'Home' -->
                                            <a th:if="${featuredJob.location.name == 'Home'}">Remote</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="f-right">
                                <a th:text="${#numbers.formatDecimal(featuredJob.minSalary, 0, 0)} + ' - ' + ${#numbers.formatDecimal(featuredJob.maxSalary, 0, 0)}"></a>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured_job_end -->
        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150" data-background="assets/img/gallery/how-applybg.png">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Process</span>
                            <h2> How it works</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                                <h5>1. Apply</h5>
                                <p>Create a job application, showcasing all your skills for the job, desired location and salary.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                                <h5>2. Request a match</h5>
                                <p>Request a match with one of the many companies, that are searching for someone like you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                                <h5>3. Get your job</h5>
                                <p>After a successful match, approved from both sides, get in contact with your desired company.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- How  Apply Process End-->
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="/img/testmonial/testimonial-founder.png" alt="">
                                            <span>Margaret Lawson</span>
                                            <p>Creative Director</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Finding the right job felt impossible until I discovered this platform. It’s intuitive, tailored to my skills, and connects me with companies that truly value my expertise. I’ve never felt more confident in my career prospects!”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="https://res.cloudinary.com/dcfdrw08u/image/upload/v1/profile_pictures/p6swk3pfssb2m1n22oio" class="profile-picture" alt="">
                                            <span>Mihail Boychev</span>
                                            <p>Java Developer</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“As someone who values efficiency, this application is a game-changer. The smart matching feature saved me hours of searching, and I was able to land an interview within days. It’s made job hunting feel seamless and stress-free!”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img class="profile-picture" src="https://res.cloudinary.com/dcfdrw08u/image/upload/v1733837537/Default-Profile-Picture-PNG-Image-Background_l5oru0.png" alt="">
                                            <span>Simon Ankov</span>
                                            <p>Java Developer</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“I’ve used other job platforms before, but none compare to this one. The personalized recommendations and easy-to-use interface helped me find a position that aligns perfectly with my goals. Highly recommend to anyone seeking meaningful opportunities!”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
         <!-- Support Company Start-->
         <div class="support-company-area support-padding fix mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>What we are doing</span>
                                <h2 th:text="${numberOfApplicants + ' Talented people are getting jobs'}">24k Talented people are getting Jobs</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">At our job match platform, we connect talented professionals with companies that value their skills. Whether you're looking for a job or searching for the perfect candidate, our platform makes it easier to find the right fit. We focus on helping individuals land meaningful jobs while assisting employers in finding the best talent, creating a seamless experience for everyone involved.</p>
                                <p>Our platform uses advanced matchmaking technology to save time and effort for both employers and job seekers. Professionals can quickly find roles suited to their skills, while companies can effortlessly discover top candidates. By simplifying the process, we ensure that job searching is faster and more efficient, benefiting both employers and employees in the long run.</p>
                                <a th:href="@{/authentication/professional/register}" href="about.html" class="btn post-btn">Sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="/img/service/support-img.jpg" alt="">
                            <div class="support-img-cap text-center">
                                <p>Since</p>
                                <span>2024</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->

    </main>
    <footer th:replace="~{footer-fragment.html :: footer}"></footer>

  <!-- JS here -->

		<div th:replace="~{scripts-fragment.html :: scripts}">

        </div>

    </body>
</html>