<!DOCTYPE html>
<html lang="en">
<head th:insert="~{head-fragment.html :: head('Create Job Ad')}">
</head>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <style>
        textarea {
            overflow-y: hidden;  /* Hide the vertical scrollbar */
            resize: none;        /* Disable manual resizing by the user */
        }
        /* Set font for the <select> element */
        #skills {
            font-family: inherit; /* Specify desired font */
            font-size: 1.25rem; /* Adjust size */
            color: #333; /* Text color */
            padding: 8px; /* Optional: Adjust padding for better visibility */
        }

        /* Set font for the options */
        #skills option {
            font-family: inherit; /* Match the <select> font */
            font-size: 1.25rem; /* Adjust size */
            color: #555; /* Text color for options */
        }

        .gradient-custom {
            /* fallback for old browsers */

            background: rgb(1, 11, 29);
            background: linear-gradient(0deg, rgba(1, 11, 29, 1) 14%, rgba(9, 9, 121, 0.68) 48%, rgba(255, 255, 255, 1) 100%);
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }

        .nice-select {
            width: 100%;
            height: 45px;
            background: #fff;
            border-radius: 5px; /* Match the default border-radius of .form-control */
            font-family: "Muli", sans-serif;
            font-size: 1.25rem; /* Adjust font size to match form-control */
            padding: .5rem 1rem; /* Match form-control padding */
            color: #495057; /* Match Bootstrap's text color */
            line-height: 1.5; /* Match Bootstrap's line-height */
            border: 1px solid #ced4da; /* Match form-control border color */
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .nice-select:focus {
            border-color: #80bdff; /* Light blue border */
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Blue glow */
            outline: none; /* Remove default browser outline */
        }
    </style>
</head>
<body>
<header th:replace="~{header-fragment.html :: header}"></header>
<main>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-10">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create Your Job Ad</h3>
                            <form id="registrationForm" method="post" action="#"
                                  th:action="@{/employers/dashboard/job-ads/create}" th:object="${ad}">

                                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors()}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                                    </ul>
                                </div>

                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input th:field="*{positionTitle}" type="text" id="positionTitle"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="positionTitle">Position Title</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" th:fragment="min-salary-row">
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input th:field="*{minSalary}" type="number" id="minSalary"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="minSalary">Min Salary</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" th:fragment="max-salary-row">
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input th:field="*{maxSalary}" type="number" id="maxSalary"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="maxSalary">Max Salary</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" th:fragment="hybrid-row">
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="positionTitle">
                                            Hybrid
                                        </label>
                                            <!-- Hidden input to ensure "false" is submitted if the checkbox is not checked -->
                                            <!-- Checkbox to submit "true" if selected -->
                                            <input type="checkbox" th:field="*{hybrid}">
                                            <span class="checkmark"></span>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <textarea th:field="*{jobDescription}" type="text" id="jobDescription"
                                                      class="form-control form-control-lg" oninput="resizeTextarea(this)"></textarea>
                                            <label class="form-label" for="jobDescription">Job Description</label>

                                            <script th:fragment="textarea-script">
                                                // Function to resize textarea
                                                function resizeTextarea(textarea) {
                                                    // Reset the height to auto to shrink the textarea
                                                    textarea.style.height = 'auto';
                                                    // Set the height to match the scrollHeight to resize the textarea based on content
                                                    textarea.style.height = (textarea.scrollHeight) + 'px';
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <select name="skills" id="skills" multiple th:field="*{skills}">
                                                <option th:each="skill : ${AllSkills}" th:value="${skill.name}" th:text="${skill.name}"></option>
                                            </select>
                                            <script th:fragment="skills-script">
                                                new MultiSelectTag('skills', {
                                                    rounded: true,    // default true
                                                    shadow: false,      // default false
                                                    placeholder: 'Search', // default Search...
                                                    tagColor: {
                                                        textColor: '#fb266b',
                                                        borderColor: '#fb266b',
                                                        bgColor: 'rgba(251,38,107,0.08)',
                                                    },
                                                    onChange: function(values) {
                                                        console.log(values)
                                                    }
                                                })  // id
                                            </script>
                                            <label class="form-label">Skills</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" th:fragment="hybrid-row">
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label" for="remote">
                                                Remote
                                            </label>
                                            <input type="checkbox" id="remote" th:field="*{remote}"
                                                   onclick="updateLocationVisibility()">
                                            <span class="checkmark"></span> <!-- Custom checkmark span -->
                                        </div>
                                    </div>
                                </div>

                                <script th:replace="~{user-register.html :: location-script}"></script>
                                <script th:replace="~{job_ad_update_view.html :: show-location-script}"></script>

                                <div class="row" id="countryDiv">
                                    <div class="col-12 mb-4">
                                        <select th:field="*{locCountryIsoCode}" onchange="getCities(this.value)"
                                                id="countriesSelect" name="select" style="display: none;">
                                            <option value="">Location</option>
                                            <option th:each="country : ${countries}" th:value="${country.iso2}"
                                                    th:text="${country.name}">City
                                            </option>
                                        </select>
                                        <div class="nice-select" tabindex="0">
                                            <span class="current">Location</span>
                                            <ul class="list" style="max-height: 200px; overflow-y: auto">
                                                <li class="option selected focus" data-value="">Location</li>
                                                <li th:each="country : ${countries}" th:data-value="${country.iso2}"
                                                    class="option" th:text="${country.name}" w>City
                                                </li>
                                            </ul>
                                        </div>
                                        <label class="form-label" for="countriesSelect">Country</label>
                                        <br>
                                        <span class="note-text">Leave Location Empty if Ad will be remote</span>
                                    </div>
                                </div>

                                <div id="citiesDiv" class="row" style="display: none">
                                    <div id="citiesCol" class="col-12 mb-4">
                                        <select th:field="*{locCityId}" id="citiesSelect" name="select"
                                                style="display: none;">
                                            <option value="">City</option>
                                        </select>
                                        <div id="nice-select-cities" class="nice-select" tabindex="0">
                                            <span id="currentText" class="current">City</span>
                                            <ul id="citiesList" class="list"
                                                style="max-height: 200px; overflow-y: auto">
                                                <li class="option selected focus" data-value="">City</li>
                                            </ul>
                                        </div>
                                        <label class="form-label" for="citiesSelect">City</label>
                                    </div>
                                </div>

                                <div class="mt-0 pt-0">
                                    <input style="float: right; margin-left: 10px;" data-mdb-ripple-init class="btn btn-primary btn-lg"
                                           type="submit" value="Create"/>
                                </div>

                                <div class="d-lg-block" style="float: right">
                                    <a href="#"
                                       th:href="@{/employers/dashboard}"
                                       class="btn head-btn2" style="
                                                        padding-left: 25px;
                                                        padding-right: 25px;
                                                        padding-top: 26px;
                                                        padding-bottom: 26px;">Back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{footer-fragment.html :: footer}"></footer>
<div th:replace="~{scripts-fragment.html :: scripts}"></div>
</body>
</html>