<div class="single-job-items mb-30"
     th:each="jobApplication : ${jobApplications}" th:fragment="applications-lising">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="/img/icon/job-list1.png" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="#"
               th:href="@{/employers/dashboard/job-applications/{id}(id=${jobApplication.id})}">
                <h4 th:text="${jobApplication.professional.firstName} + ' '
                                                + ${jobApplication.professional.lastName}">Professional Name</h4>
            </a>
            <ul th:fragment="applications-lising-body">
                <li th:unless="${jobApplication.qualifications.isEmpty()}">
                                                <span th:each="qualification, iterStat : ${jobApplication.qualifications}">
                                                <span th:if="${iterStat.index < 3}"
                                                      th:text="${qualification.name}"></span>
                                                    <span th:if="${iterStat.index < 2 && iterStat.index < (jobApplication.qualifications.size() - 1)}">, </span>
                                                    </span>

                </li>

                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <!-- Case 1: Not 'Home' and not Hybrid -->
                    <a th:if="${jobApplication.location.name != 'Home' and !jobApplication.hybrid}"
                       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode}"></a>

                    <!-- Case 2: Not 'Home' and Hybrid -->
                    <a th:if="${jobApplication.location.name != 'Home' and jobApplication.hybrid}"
                       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode + ' (Hybrid)'}"></a>

                    <!-- Case 3: Location is 'Home' -->
                    <a th:if="${jobApplication.location.name == 'Home'}">Remote</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="f-right" th:fragment="applications-lising-salary">
        <a
           th:text="${#numbers.formatDecimal(jobApplication.minSalary, 0, 0)} + ' - ' + ${#numbers.formatDecimal(jobApplication.maxSalary, 0, 0)}"></a>
    </div>
</div>

<div class="single-job-items mb-30"
     th:each="jobApplication : ${jobApplications}" th:fragment="applications-lising-profrssionals">
    <div class="job-items">
        <div class="company-img">
            <a href="#"><img src="/img/icon/job-list1.png" alt=""></a>
        </div>
        <div class="job-tittle job-tittle2">
            <a href="#"
               th:href="@{/professionals/dashboard/job-applications/{id}(id=${jobApplication.id})}">
                <h4 th:text="${jobApplication.professional.firstName} + ' '
                                                + ${jobApplication.professional.lastName}">Professional Name</h4>
            </a>
            <form th:replace="~{mutual_fragments.html :: applications-lising-body}"></form>
        </div>
    </div>
    <form th:replace="~{mutual_fragments.html :: applications-lising-salary}"></form>
</div>


<ul th:fragment="application-details-right">
    <li>
        Location :
        <span th:if="${jobApplication.location.name != 'Home' and !jobApplication.hybrid}"
              th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode}">
                                </span>
        <span th:if="${jobApplication.location.name != 'Home' and jobApplication.hybrid}"
              th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode + ' (Hybrid)'}">
                                </span>
        <span th:if="${jobApplication.location.name == 'Home'}" th:text="'Remote'">
                                </span>
    </li>
    <li>Application nature : <span>Full time</span></li>
    <li>Salary Desired: <span
            th:text="${#numbers.formatDecimal(jobApplication.minSalary, 0, 0)} + ' - '
                                    + ${#numbers.formatDecimal(jobApplication.maxSalary, 0, 0)}">Salary</span>
    </li>
</ul>

<div class="single-job-items mb-50" th:fragment="application-details-left">
    <div class="job-items">
        <div class="company-img company-img-details">
            <a href="#"><img class="profile-picture" th:src="${jobApplication.professional.profilePictureUrl}" alt=""></a>
        </div>
        <div class="job-tittle">

            <a th:href="@{'/professionals/' + ${jobApplication.professional.id}}"><h4 th:text="${jobApplication.professional.firstName} + ' ' +
                            ${jobApplication.professional.lastName}">Professional Names</h4></a>

            <ul>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <!-- Case 1: Not 'Home' and not Hybrid -->
                    <a th:if="${jobApplication.location.name != 'Home' and !jobApplication.hybrid}"
                       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode}"></a>

                    <!-- Case 2: Not 'Home' and Hybrid -->
                    <a th:if="${jobApplication.location.name != 'Home' and jobApplication.hybrid}"
                       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode + ' (Hybrid)'}"></a>

                    <!-- Case 3: Location is 'Home' -->
                    <a th:if="${jobApplication.location.name == 'Home'}">Remote</a>
                </li>
                <li th:text="${#numbers.formatDecimal(jobApplication.minSalary, 0, 0)} + ' - '
                                    + ${#numbers.formatDecimal(jobApplication.maxSalary, 0, 0)}">
                    Salary range
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="post-details4  mb-50" th:fragment="application-details-professional-right-details">
    <!-- Small Section Tittle -->
    <div class="small-section-tittle">
        <h4>Applicant Information</h4>
    </div>
    <a th:href="@{'/professionals/' + ${jobApplication.professional.id}}"><span th:text="${jobApplication.professional.firstName} + ' ' +
                            ${jobApplication.professional.lastName}">Professional Names</span></a>
    <p th:text="${jobApplication.professional.summary}">Professional Description</p>
    <ul>
        <li>Name: <span th:text="${jobApplication.professional.firstName} + ' ' +
                            ${jobApplication.professional.lastName}">Professional Names</span></li>
        <li>Email: <span th:text="${jobApplication.professional.email}">Professional email</span></li>
    </ul>
</div>


<div class="job-tittle job-tittle2" th:fragment="ads-listing">
    <a href="#" th:href="@{/employers/dashboard/job-ads/{id}(id=${jobAd.id})}">
        <h4 th:text="${jobAd.positionTitle}">Job Title</h4>
    </a>
    <ul>
        <li th:text="${jobAd.employer.getCompanyName()}">Company Name</li>
        <li>
            <i class="fas fa-map-marker-alt"></i>
            <!-- Case 1: Not 'Home' and not Hybrid -->
            <a th:if="${jobAd.location.name != 'Home' and !jobAd.hybrid}"
               th:text="${jobAd.location.name + ', ' + jobAd.location.isoCode}"></a>

            <!-- Case 2: Not 'Home' and Hybrid -->
            <a th:if="${jobAd.location.name != 'Home' and jobAd.hybrid}"
               th:text="${jobAd.location.name + ', ' + jobAd.location.isoCode + ' (Hybrid)'}"></a>

            <!-- Case 3: Location is 'Home' -->
            <a th:if="${jobAd.location.name == 'Home'}">Remote</a>
        </li>
    </ul>
</div>

<div class="select-job-items" th:fragment="sort">
    <span>Sort by</span>
    <label>
        <select name="select">
            <option value="">None</option>
            <option value="">job list</option>
            <option value="">job list</option>
            <option value="">job list</option>
        </select>
    </label>
</div>

<li th:fragment="application-location">
    <i class="fas fa-map-marker-alt"></i>
    <!-- Case 1: Not 'Home' and not Hybrid -->
    <a th:if="${jobApplication.location.name != 'Home' and !jobApplication.hybrid}"
       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode}"></a>

    <!-- Case 2: Not 'Home' and Hybrid -->
    <a th:if="${jobApplication.location.name != 'Home' and jobApplication.hybrid}"
       th:text="${jobApplication.location.name + ', ' + jobApplication.location.isoCode + ' (Hybrid)'}"></a>

    <!-- Case 3: Location is 'Home' -->
    <a th:if="${jobApplication.location.name == 'Home'}">Remote</a>
</li>

<div class="job-category-listing mb-50" th:fragment="application-listing-filter-public-view">
    <!-- single one -->
    <!-- Select job items start -->
    <!--  Select job items End-->
    <!-- select-Categories start -->
    <div class="single-listing pt-0 pb-0">
        <div class="select-Categories pt-0 pb-30">
            <div class="small-section-tittle2">
                <h4>Application Type</h4>
            </div>
            <label class="container">Hybrid
                <input type="checkbox" th:field="*{hybrid}">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <!-- select-Categories End -->
    <!-- single two -->
    <div class="single-listing" th:fragment="application-listing-filter-location">
        <div class="small-section-tittle2">
            <h4>Application Location</h4>
        </div>
        <!-- Select job items start -->
        <div class="select-job-items2">
            <select name="location" th:field="*{location}">
                <option value="" selected>Choose a Location</option>
                <option th:each="location : ${locations}" th:value="${location.name}"
                        th:text="${location.name}"></option>
            </select>
        </div>
        <!--  Select job items End-->
        <!-- select-Categories start -->
        <!-- select-Categories End -->
    </div>
    <!-- single three -->
    <div class="single-listing" th:fragment="application-listing-filter-salary">
        <!-- Range Slider Start -->
        <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
            <div class="select-Categories pt-80 pb-35">
                <div class="small-section-tittle2">
                    <h4>Filter Salary</h4>
                </div>
                <div class="widgets_inner">
                    <div class="range_item">
                        <!-- <div id="slider-range"></div> -->
                        <input type="text" class="js-range-slider" value=""/>
                        <div class="d-flex align-items-center">
                            <div class="price_text">
                                <p>Salary :</p>
                            </div>
                            <div class="price_value d-flex justify-content-center">
                                <input type="text" class="js-input-from" readonly
                                       th:field="*{minSalary}"/>
                                <span>to</span>
                                <input type="text" class="js-input-to" id="amount" readonly
                                       th:field="*{maxSalary}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Range Slider End -->
    </div>
    <div class="items-link" th:fragment="application-listing-filter-button">
        <input type="submit" value="Filter" style="margin-bottom: 0px;
                                padding-left: 60px;
                                padding-right: 60px;
                                padding-top: 9px;
                                padding-bottom: 9px;"/>
    </div>
</div>

<div class="job-category-listing mb-50" th:fragment="application-listing-filter-private-view">
    <div class="single-listing">
        <div class="small-section-tittle2">
            <h4>Application Status</h4>
        </div>
        <!-- Select job items start -->
        <div class="select-job-items2">
            <select name="creator" th:field="*{status}">
                <option value="Active" selected>Active</option>
                <option value="Hidden">Hidden</option>
                <option value="Private">Private</option>
                <option value="Matched">Matched</option>
            </select>
        </div>
        <!--  Select job items End-->
        <!-- select-Categories start -->
        <div class="select-Categories pt-80 pb-30">
            <div class="small-section-tittle2">
                <h4>Application Type</h4>
            </div>
            <label class="container">Hybrid
                <input type="checkbox" th:field="*{hybrid}">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <form th:replace="~{mutual_fragments.html :: application-listing-filter-location}"></form>
    <form th:replace="~{mutual_fragments.html :: application-listing-filter-salary}"></form>
    <form th:replace="~{mutual_fragments.html :: application-listing-filter-button}"></form>
</div>