<!doctype html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{head-fragment.html :: head('Employers Dashboard')}"></form>

<body>
<!-- Preloader Start -->
<div th:replace="~{preloader-fragment.html :: preloader}">
</div>
<!-- Preloader Start -->
<header th:replace="~{header-fragment.html :: header}"></header>
<main>

    <!-- slider Area Start-->
    <!-- slider Area End-->
    <!-- Our Services Start -->
    <div class="our-services section-pad-t30" style="padding-top: 40px;">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span th:text="${professional.firstName.toUpperCase() + ' ' + professional.lastName.toUpperCase()}">
                            Professional NAME</span>
                        <h2>Professionals Portal</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-contnet-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" th:unless="applicationsSize == 0">
                    <a th:href="@{/professionals/dashboard/job-applications}">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion" style="width: 250px;">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap">
                            <h5>Your Applications</h5>
                            <span th:text="'(' + ${applicationsSize} + ')'">Applications count</span>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" th:if="applicationsSize == 0">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion" style="width: 250px;">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap">
                            <h5>Your Applications</h5>
                            <span th:text="'(' + ${applicationsSize} + ')'">Applications count</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" th:unless="companyJobAdsSize == 0">
                    <a th:href="@{/professionals/dashboard/job-ads}">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion" style="width: 250px;">
                            <span class="flaticon-content"></span>
                        </div>
                        <div class="services-cap">
                            <h5>All Job Ads</h5>
                            <span th:text="'(' + ${companyJobAdsSize} + ')'">Ads count</span>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" th:if="companyJobAdsSize == 0">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion" style="width: 250px;">
                            <span class="flaticon-content"></span>
                        </div>
                        <div class="services-cap">
                            <h5>All Job Ads</h5>
                            <span th:text="'(' + ${companyJobAdsSize} + ')'">Ads count</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a th:href="@{/professionals/{id}(id=${session.userId})}" href="job_listing.html">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion" style="width: 250px;">
                                <span class="flaticon-real-estate"></span>
                            </div>
                            <div class="services-cap">
                                <h5>User Details</h5>
                                <span th:text="'Invisible Text'" style="visibility: hidden"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a th:href="@{/professionals/dashboard/job-applications/create}">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion" style="width: 250px;">
                            <span class="flaticon-content"></span>
                        </div>
                        <div class="services-cap" >
                            <h5>Create an Application</h5>
                            <span th:text="'Invisible Text'" style="visibility: hidden"></span>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <!-- More Btn -->
            <!-- Section Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="browse-btn2 text-center mt-50">
                        <a th:href="@{/professionals/dashboard/skills}" href="job_listing.html" class="border-btn2">Browse All Skills</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services End -->
    <!-- Online CV Area Start -->
    <div class="online-cv cv-bg section-overly pt-90 pb-120"  data-background="assets/img/gallery/cv_bg.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="cv-caption text-center">
                        <p class="pera1">SHOW YOUR SKILLS</p>
                        <p class="pera2"> Make a Difference with Your Application!</p>
                        <a href="#" class="border-btn2 border-btn4" th:href="@{/}">Create an Application</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Online CV Area End-->
    <!-- Featured_job_start -->
    <section class="featured-job-area feature-padding">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>Recent Ads</span>
                        <h2>Featured Ads</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30" th:each="featuredJob : ${featuredJobs}">
                        <div class="job-items">
                            <div class="company-img">
                                <a th:href="@{'/employers/' + ${featuredJob.employer.id}}" href="#"><img class="company-profile-picture" th:src="${featuredJob.getEmployer().getProfilePictureUrl()}" src="/img/icon/job-list1.png" alt=""></a>
                            </div>
                            <div class="job-tittle job-tittle2">
                                <a href="#" th:href="@{/professionals/dashboard/job-ads/{id}(id=${featuredJob.id})}">
                                    <h4 th:text="${featuredJob.positionTitle}">Job Title</h4>
                                </a>
                                <ul>
                                    <li ><a class="text-muted" th:text="${featuredJob.employer.getCompanyName()}" th:href="@{/employers/{id}(id=${featuredJob.getEmployer().id})}">Company Name</a></li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <!-- Case 1: Not 'Home' and not Hybrid -->
                                        <a th:if="${featuredJob.location.name != 'Home' and !featuredJob.hybrid}"
                                           th:text="${featuredJob.location.name + ', ' + featuredJob.location.isoCode}"></a>

                                        <!-- Case 2: Not 'Home' and Hybrid -->
                                        <a th:if="${featuredJob.location.name != 'Home' and featuredJob.hybrid}"
                                           th:text="${featuredJob.location.name + ', ' + featuredJob.location.isoCode + ' (Hybrid)'}"></a>

                                        <!-- Case 3: Location is 'Home' -->
                                        <a th:if="${featuredJob.location.name == 'Home'}">Remote</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-right">
                            <a th:text="${#numbers.formatDecimal(featuredJob.minSalary, 0, 0)} + ' - ' + ${#numbers.formatDecimal(featuredJob.maxSalary, 0, 0)}"></a>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured_job_end -->
</main>
<footer th:replace="~{footer-fragment.html :: footer}"></footer>

<!-- JS here -->

<div th:replace="~{scripts-fragment.html :: scripts}">

</div>

</body>
</html>